.footer{
    background-color: #e84545;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.social-icons{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}

.icon{
    margin-left: 10px;
    font-size: 50px;
}

.Contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

#send-email{
    margin-right: 20px;
    border: none;

}

#enter-email{
    padding: 5px;
    width: 15em;
}

#send{
    padding: 7px;
    width: 5em;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(199, 199, 75);
    border: none;
    transition: transform .5s;
}
#send :hover{
    transform: scale(20);
}

.address{
    margin-left: 55px;
}