.history{
    height: 90vh;
}


.history-container{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.history-header{
    display: flex;
    justify-content: center;
}

.order-container{
    display: flex;
    justify-content: space-between;
    width: 20cm;
    height: 4cm;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 10px;
}

.left-details{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 5px;

}

.right-details{
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-right: 5px;
}

#date{
    margin-top: 1px;
}

#order-deliver{
    margin-top: 1px; 
}